{#
 # Produce a boolean value in apache format
 #
 # @param value : the value of the boolean
 # @return string
 #}
{%- macro hba_rule(rule) -%}
{% if rule.comment is defined %}
# {{   rule.comment }}
{% endif %}
{% if rule.type != 'local' %}
{%   set _address = rule.address %}
{%   if rule.netmask is defined %}
{%     set _address = [_address, rule.netmask]|join(' ') %}
{%   endif %}
{% endif %}
{{ '%-10s %-30s %-30s %-30s %-30s'|format(rule.type, rule.database, rule.user, _address|d(''), rule.method) }}
{%- endmacro -%}
