{%- import '_macros.j2' as macros with context -%}
{{ ansible_managed|comment(decoration='# ') }}

# PostgreSQL Client Authentication Configuration File
# ===================================================

# {{ '%-8s %-30s %-30s %-30s %-30s %-30s'|format('TYPE', 'DATABASE', 'USER', '[ADDRESS/IP]', '[IP NETMASK]', 'METHOD') }}
{% for rule in postgresql_server__hba_rules|list %}
{{   macros.hba_rule(rule) }}
{% endfor %}
