{{ ansible_managed|comment(decoration='# ') }}
# Systemd unit file override to specify user/group as well as separate config
# and data directories.
[Service]
{% if not postgresql_server__service_restartable|bool %}
# Remove must restart stamp file
ExecStartPre=-/usr/bin/env rm -f {{ postgresql_server__service_restart_stamp_file }}
{% endif %}
