# {{ ansible_managed }}
# Systemd unit file override to specify user/group as well as separate config
# and data directories.
[Service]
User={{ postgresql_server__service_user }}
Group={{ postgresql_server__service_group }}

Environment=PGDATA={{ postgresql_server__data_directory }}

ExecStartPre=
ExecStartPre={{ postgresql_server__bin_directory }}/postgresql{{ postgresql_server__version_terse }}-check-db-dir {{ postgresql_server__data_directory }}
